@{
	Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@await Html.PartialAsync("~/Views/Shared/_NavLayout.cshtml")
<section class="page-title" style="background-image: url(images/Website/3.jpg)">
	<div class="auto-container">
		<h1>About Us</h1>
		<ul class="page-breadcrumb">
			<li><a href="/">home</a></li>
			<li>About</li>
			<li>About us</li>
		</ul>
	</div>
</section>
<!-- End Page Title -->
<!-- About Section -->
<section class="about-section">
	<div class="pattern-layer" style="background-image: url(images/background/pattern-1.png)"></div>
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Image Column -->
			<div class="image-column col-lg-7 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="image">
						<img src="images/Website/about.jpg" alt="" />
					</div>
				</div>
			</div>

			<!-- Content Column -->
			<div class="content-column col-lg-5 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="title">A Propos de  Capital Conseil & Technologies</div>
					<h2>Nous traitons des aspects des  <br> services <span>informatiques professionnels.</span></h2>
					<p>Votre partenaire stratégique pour l’excellence technologique et la transformation numérique.</p>
					<div class="text">Forts d’une expertise pointue et d’une passion pour l’innovation, nous offrons une gamme complète de services de conseil en technologies et en systèmes d’information pour répondre aux défis complexes de votre entreprise dans un monde en constante évolution. </div>
					<!-- Fact Counter -->
					<div class="fact-counter">
						<div class="row clearfix">

							<!-- Column -->
							<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-soccer-cup"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3500" data-stop="1200">0</span>+
										</div>
										<div class="counter-title">Award Winners</div>
									</div>
								</div>
							</div>

							<!--Column-->
							<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-flag"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="2500" data-stop="25">0</span>+
										</div>
										<div class="counter-title">Year Experience</div>
									</div>
								</div>
							</div>

							<!--Column-->
							<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-book"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3000" data-stop="1200">0</span>+
										</div>
										<div class="counter-title">Business Guide</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="/about" class="theme-btn btn-style-two"><span class="txt">En Savoir Plus </span></a>

				</div>
			</div>

		</div>
	</div>
</section>
<!-- End About Section -->
<!-- Feature Section -->
<section class="feature-section">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="title">Nos fonctionnalités !</div>
			<h2>Nous Sommes  <span>Les Experts De Confiance</span></h2>
		</div>
		<div class="row clearfix">

			<!-- Blocks Column -->
			<div class="blocks-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="row clearfix">

						<!-- Feature Block -->
						<div class="feature-block col-lg-6 col-md-6 col-sm-12">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-bar-chart"></span>
								</div>
								<h6><a href="/Service">Expertise spécialisée</a></h6>
								<div class="text">Ces entreprises disposent d'une équipe d'experts expérimentés dans divers domaines.</div>
							</div>
						</div>

						<!-- Feature Block -->
						<div class="feature-block col-lg-6 col-md-6 col-sm-12">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-padlock-1"></span>
								</div>
								<h6><a href="/Service">Objectivité et perspective externe</a></h6>
								<div class="text">Prendre des décisions éclairées sans être influencé par les préjugés internes.</div>
							</div>
						</div>

						<!-- Feature Block -->
						<div class="feature-block col-lg-6 col-md-6 col-sm-12">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-graduation-cap"></span>
								</div>
								<h6><a href="/Service">Gain de temps</a></h6>
								<div class="text">Bénéficier d'une expertise instantanée sans avoir à former ou à embaucher du personnel supplémentaire.</div>
							</div>
						</div>

						<!-- Feature Block -->
						<div class="feature-block col-lg-6 col-md-6 col-sm-12">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-loupe-1"></span>
								</div>
								<h6><a href="/Service">Flexibilité et agilité</a></h6>
								<div class="text">Une flexibilité pour s'adapter aux besoins changeants de votre entreprise, que ce soit pour des projets à court terme.</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- Image Column -->
			<div class="image-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="image">
						<img src="images/Website/feature.jpg" alt="" />
						<!-- Feature Block Two -->
						<div class="feature-block-two">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-mission"></span>
								</div>
								<h6><a href="/Service">Notre Mission</a></h6>
								<div class="text">Notre mission est de guider nos clients à travers les défis de la technologie de l’information.</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Feature Section -->
<!-- Story Section -->
<section class="story-section">
	<div class="pattern-layer" style="background-image: url(images/background/pattern-7.png)"></div>
	<div class="pattern-layer-two" style="background-image: url(images/background/pattern-8.png)"></div>
	<div class="auto-container">
		<div class="row clearfix">
			<!-- Content Column -->
			<div class="content-column col-lg-8 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="title">OUR STORY</div>
					<h2>Incredible True Short <span>Bussiness Facts</span></h2>
					<p>Vestibulum ac dictum metus. Nam pretium turpis eget metus consequat rhoncus. Aliquam eu bibendum orci. Mauris vel velit at tortor commodo imperdiet et sit amet tortor. Nam pretium turpis eget metus Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<div class="row clearfix">
						<div class="column col-lg-6 col-md-6 col-sm-12">
							<ul class="list-style-three">
								<li>Duis consectetur feugiat auctor</li>
								<li>Morbi nec enim luctus, feugiat arcu id</li>
								<li>Duis vel massa eleifend, porta est non</li>
							</ul>
						</div>
						<div class="column col-lg-6 col-md-6 col-sm-12">
							<ul class="list-style-three">
								<li>Duis consectetur feugiat auctor</li>
								<li>Morbi nec enim luctus, feugiat arcu id</li>
								<li>Duis vel massa eleifend, porta est non</li>
							</ul>
						</div>
					</div>
					<div class="btn-box">
						<a href="/contact" class="theme-btn btn-style-four"><span class="txt">Discover More</span></a>
					</div>

				</div>
			</div>
			<!-- Counter Column -->
			<div class="counter-column col-lg-4 col-md-12 col-sm-12">
				<div class="inner-column">

					<!-- Fact Counter Two -->
					<div class="fact-counter-two">
						<div class="row clearfix">

							<!-- Column -->
							<div class="column counter-column col-lg-6 col-md-6 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-like-1"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3500" data-stop="2450">0</span>+
										</div>
										<div class="counter-title">People Likes</div>
									</div>
								</div>
							</div>

							<!-- Column -->
							<div class="column counter-column col-lg-6 col-md-6 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-soccer-cup"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="2500" data-stop="350">0</span>+
										</div>
										<div class="counter-title">Awards Wins</div>
									</div>
								</div>
							</div>

							<!-- Column -->
							<div class="column counter-column col-lg-6 col-md-6 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-team"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3000" data-stop="321">0</span>+
										</div>
										<div class="counter-title">Team Members</div>
									</div>
								</div>
							</div>

							<!-- Column -->
							<div class="column counter-column col-lg-6 col-md-6 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-chart"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3000" data-stop="1490">0</span>+
										</div>
										<div class="counter-title">Projecet Succeed</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Story Section -->
<!-- Goal Section -->
<section class="goal-section">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Content Column -->
			<div class="content-column col-lg-5 col-md-12 col-sm-12">
				<div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="title">Notre Mission </div>
					<h2>Devenir  <span>Les Meilleurs</span></h2>
@* 					<p>Vestibulum ac dictum metus. Nam pretium turpis eget metus consequat eu bibendum orci. Mauris vel velit at tortor commodo imperdiet et sit am pretium turpis eget metus </p>
 *@					<ul class="list-style-one">
						<li>Accompagnement stratégique : Aider les entreprises à définir et mettre en œuvre des stratégies technologiques adaptées à leurs besoins.</li>
						<li>Optimisation des systèmes : Conseiller sur l'amélioration et la gestion des infrastructures informatiques et des systèmes d'information existants.</li>
						<li>Innovation et transformation digitale : Supporter les clients dans l'adoption de nouvelles technologies et la transformation numérique de leurs processus métier.</li>
					</ul>
					<div class="button-box">
						<a href="/Contact" class="theme-btn btn-style-two"><span class="txt">Contactez Nous </span></a>
					</div>
				</div>
			</div>

			<!-- Image Column -->
			<div class="image-column col-lg-7 col-md-12 col-sm-12">
				<div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<img src="images/Website/goal.jpg" alt="" />
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Goal Section -->
<!-- Team Section -->
<section class="team-section style-two">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="title">Notre Equipe</div>
			<h2>Obtenez Des Services Auprès De  <span>Nos Experts</span></h2>
		</div>
		<div class="row clearfix">

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<img src="images/Website/team-1.jpg" alt="" />
						<!-- Overlay Box -->
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<!-- Social Box -->
									<ul class="social-box">
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="lower-content">
						<h4><a href="#">Jack Mehoff</a></h4>
						<div class="designation">Office Manager</div>
					</div>
				</div>
			</div>

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<img src="images/Website/team-2.jpg" alt="" />
						<!-- Overlay Box -->
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<!-- Social Box -->
									<ul class="social-box">
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="lower-content">
						<h4><a href="#">Maria John</a></h4>
						<div class="designation">Marketing Expert</div>
					</div>
				</div>
			</div>

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<img src="images/Website/team-3.jpg" alt="" />
						<!-- Overlay Box -->
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<!-- Social Box -->
									<ul class="social-box">
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="lower-content">
						<h4><a href="#">Sarena Martyn</a></h4>
						<div class="designation">ERP Manager</div>
					</div>
				</div>
			</div>

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<img src="images/Website/team-4.jpg" alt="" />
						<!-- Overlay Box -->
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<!-- Social Box -->
									<ul class="social-box">
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="lower-content">
						<h4><a href="#">Jenn Doe</a></h4>
						<div class="designation">Senior Consultant</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Team Section -->
@await Html.PartialAsync("~/Views/Shared/_FooterLayout.cshtml")

