@{
	Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@await Html.PartialAsync("~/Views/Shared/_NavLayout.cshtml")
<section class="page-title" style="background-image: url(images/background/3.jpg)">
	<div class="auto-container">
		<h1>About Us</h1>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>About</li>
			<li>About us</li>
		</ul>
	</div>
</section>
<!-- End Page Title -->
<!-- About Section -->
<section class="about-section">
	<div class="pattern-layer" style="background-image: url(images/background/pattern-1.png)"></div>
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Image Column -->
			<div class="image-column col-lg-7 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="image">
						<img src="images/resource/about.jpg" alt="" />
					</div>
				</div>
			</div>

			<!-- Content Column -->
			<div class="content-column col-lg-5 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="title">About Consejo</div>
					<h2>Growing With Our Clients 30 <br> Years of <span>Experience</span></h2>
					<p>Nam fermentum aliquam mauris at accumsan. Suspendisse potenti. Maecaas vel luctus eros, id porta turpis.</p>
					<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit <br> Suspendisse ullamcorper nec mauris id malesuada. </div>
					<p>Vestibulum ac dictum metus. Nam pretium turpis eget metus consequat rhoncus. Aliquam eu bibendum orci. </p>

					<!-- Fact Counter -->
					<div class="fact-counter">
						<div class="row clearfix">

							<!-- Column -->
							<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-soccer-cup"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3500" data-stop="1200">0</span>+
										</div>
										<div class="counter-title">Award Winners</div>
									</div>
								</div>
							</div>

							<!--Column-->
							<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-flag"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="2500" data-stop="25">0</span>+
										</div>
										<div class="counter-title">Year Experience</div>
									</div>
								</div>
							</div>

							<!--Column-->
							<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-book"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3000" data-stop="1200">0</span>+
										</div>
										<div class="counter-title">Business Guide</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="about.html" class="theme-btn btn-style-two"><span class="txt">About Company</span></a>

				</div>
			</div>

		</div>
	</div>
</section>
<!-- End About Section -->
<!-- Feature Section -->
<section class="feature-section">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="title">Our FEatures!</div>
			<h2>We Are The Trusted <span>Experts</span></h2>
		</div>
		<div class="row clearfix">

			<!-- Blocks Column -->
			<div class="blocks-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="row clearfix">

						<!-- Feature Block -->
						<div class="feature-block col-lg-6 col-md-6 col-sm-12">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-bar-chart"></span>
								</div>
								<h6><a href="service-detail.html">Business Consulting</a></h6>
								<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo</div>
							</div>
						</div>

						<!-- Feature Block -->
						<div class="feature-block col-lg-6 col-md-6 col-sm-12">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-padlock-1"></span>
								</div>
								<h6><a href="service-detail.html">Security</a></h6>
								<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo</div>
							</div>
						</div>

						<!-- Feature Block -->
						<div class="feature-block col-lg-6 col-md-6 col-sm-12">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-graduation-cap"></span>
								</div>
								<h6><a href="service-detail.html">Our Vision</a></h6>
								<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo</div>
							</div>
						</div>

						<!-- Feature Block -->
						<div class="feature-block col-lg-6 col-md-6 col-sm-12">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-loupe-1"></span>
								</div>
								<h6><a href="service-detail.html">Creative Solution</a></h6>
								<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- Image Column -->
			<div class="image-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="image">
						<img src="images/resource/feature.jpg" alt="" />
						<!-- Feature Block Two -->
						<div class="feature-block-two">
							<div class="inner-box">
								<div class="icon-box">
									<span class="icon flaticon-mission"></span>
								</div>
								<h6><a href="service-detail.html">Our Mission</a></h6>
								<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Feature Section -->
<!-- Story Section -->
<section class="story-section">
	<div class="pattern-layer" style="background-image: url(images/background/pattern-7.png)"></div>
	<div class="pattern-layer-two" style="background-image: url(images/background/pattern-8.png)"></div>
	<div class="auto-container">
		<div class="row clearfix">
			<!-- Content Column -->
			<div class="content-column col-lg-8 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="title">OUR STORY</div>
					<h2>Incredible True Short <span>Bussiness Facts</span></h2>
					<p>Vestibulum ac dictum metus. Nam pretium turpis eget metus consequat rhoncus. Aliquam eu bibendum orci. Mauris vel velit at tortor commodo imperdiet et sit amet tortor. Nam pretium turpis eget metus Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<div class="row clearfix">
						<div class="column col-lg-6 col-md-6 col-sm-12">
							<ul class="list-style-three">
								<li>Duis consectetur feugiat auctor</li>
								<li>Morbi nec enim luctus, feugiat arcu id</li>
								<li>Duis vel massa eleifend, porta est non</li>
							</ul>
						</div>
						<div class="column col-lg-6 col-md-6 col-sm-12">
							<ul class="list-style-three">
								<li>Duis consectetur feugiat auctor</li>
								<li>Morbi nec enim luctus, feugiat arcu id</li>
								<li>Duis vel massa eleifend, porta est non</li>
							</ul>
						</div>
					</div>
					<div class="btn-box">
						<a href="contact.html" class="theme-btn btn-style-four"><span class="txt">Discover More</span></a>
					</div>

				</div>
			</div>
			<!-- Counter Column -->
			<div class="counter-column col-lg-4 col-md-12 col-sm-12">
				<div class="inner-column">

					<!-- Fact Counter Two -->
					<div class="fact-counter-two">
						<div class="row clearfix">

							<!-- Column -->
							<div class="column counter-column col-lg-6 col-md-6 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-like-1"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3500" data-stop="2450">0</span>+
										</div>
										<div class="counter-title">People Likes</div>
									</div>
								</div>
							</div>

							<!-- Column -->
							<div class="column counter-column col-lg-6 col-md-6 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-soccer-cup"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="2500" data-stop="350">0</span>+
										</div>
										<div class="counter-title">Awards Wins</div>
									</div>
								</div>
							</div>

							<!-- Column -->
							<div class="column counter-column col-lg-6 col-md-6 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-team"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3000" data-stop="321">0</span>+
										</div>
										<div class="counter-title">Team Members</div>
									</div>
								</div>
							</div>

							<!-- Column -->
							<div class="column counter-column col-lg-6 col-md-6 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-chart"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3000" data-stop="1490">0</span>+
										</div>
										<div class="counter-title">Projecet Succeed</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Story Section -->
<!-- Goal Section -->
<section class="goal-section">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Content Column -->
			<div class="content-column col-lg-5 col-md-12 col-sm-12">
				<div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="title">OUR GOALS</div>
					<h2>We Provides Best <span>Advice</span> For <br> Your <span>Business</span></h2>
					<p>Vestibulum ac dictum metus. Nam pretium turpis eget metus consequat eu bibendum orci. Mauris vel velit at tortor commodo imperdiet et sit am pretium turpis eget metus </p>
					<ul class="list-style-one">
						<li>Duis consectetur feugiat auctor. Morbi netc enim luctus.</li>
						<li>Morbi nec enim luctus, feugiat arcu id, ultricies ante. </li>
						<li>Duis vel massa eleifend, porta est non, feugiat metus.</li>
					</ul>
					<div class="button-box">
						<a href="case-detail.html" class="theme-btn btn-style-two"><span class="txt">View Project</span></a>
					</div>
				</div>
			</div>

			<!-- Image Column -->
			<div class="image-column col-lg-7 col-md-12 col-sm-12">
				<div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<img src="images/resource/goal.jpg" alt="" />
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Goal Section -->
<!-- Team Section -->
<section class="team-section style-two">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="title">Our Team</div>
			<h2>Get Services From <span>Our Experts</span></h2>
		</div>
		<div class="row clearfix">

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<img src="images/resource/team-1.jpg" alt="" />
						<!-- Overlay Box -->
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<!-- Social Box -->
									<ul class="social-box">
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="lower-content">
						<h4><a href="team.html">Jack Mehoff</a></h4>
						<div class="designation">Office Manager</div>
					</div>
				</div>
			</div>

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<img src="images/resource/team-2.jpg" alt="" />
						<!-- Overlay Box -->
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<!-- Social Box -->
									<ul class="social-box">
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="lower-content">
						<h4><a href="team.html">Maria John</a></h4>
						<div class="designation">Marketing Expert</div>
					</div>
				</div>
			</div>

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<img src="images/resource/team-3.jpg" alt="" />
						<!-- Overlay Box -->
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<!-- Social Box -->
									<ul class="social-box">
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="lower-content">
						<h4><a href="team.html">Sarena Martyn</a></h4>
						<div class="designation">ERP Manager</div>
					</div>
				</div>
			</div>

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<img src="images/resource/team-4.jpg" alt="" />
						<!-- Overlay Box -->
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<!-- Social Box -->
									<ul class="social-box">
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="lower-content">
						<h4><a href="team.html">Jenn Doe</a></h4>
						<div class="designation">Senior Consultant</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Team Section -->
@await Html.PartialAsync("~/Views/Shared/_FooterLayout.cshtml")

