@{
	Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@await Html.PartialAsync("~/Views/Shared/_NavLayout.cshtml")
<!-- Page Title -->
<section class="page-title" style="background-image: url(images/Website/3.jpg)">
	<div class="auto-container">
		<h1>Histoire de l'entreprise</h1>
		<ul class="page-breadcrumb">
			<li><a href="/">Accueil</a></li>
			<li>Histoire </li>
		</ul>
	</div>
</section>
<!-- End Page Title -->
<!-- About Section -->
<section class="about-section">
	<div class="pattern-layer" style="background-image: url(images/background/pattern-1.png)"></div>
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Image Column -->
			<div class="image-column col-lg-7 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="image">
						<img src="images/Website/about.jpg" alt="" />
					</div>
				</div>
			</div>

			<!-- Content Column -->
			<div class="content-column col-lg-5 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="title">A Propos de  Capital Conseil & Technologies</div>
					<h2>Nous traitons des aspects des  <br> services <span>informatiques professionnels.</span></h2>
					<p>Votre partenaire stratégique pour l’excellence technologique et la transformation numérique.</p>
					<div class="text">Forts d’une expertise pointue et d’une passion pour l’innovation, nous offrons une gamme complète de services de conseil en technologies et en systèmes d’information pour répondre aux défis complexes de votre entreprise dans un monde en constante évolution. </div>
					<!-- Fact Counter -->
					<div class="fact-counter">
						<div class="row clearfix">

							<!-- Column -->
							<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-soccer-cup"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3500" data-stop="1200">0</span>+
										</div>
										<div class="counter-title">Award Winners</div>
									</div>
								</div>
							</div>

							<!--Column-->
							<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-flag"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="2500" data-stop="25">0</span>+
										</div>
										<div class="counter-title">Year Experience</div>
									</div>
								</div>
							</div>

							<!--Column-->
							<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-book"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3000" data-stop="1200">0</span>+
										</div>
										<div class="counter-title">Business Guide</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="/about" class="theme-btn btn-style-two"><span class="txt">En Savoir Plus </span></a>

				</div>
			</div>

		</div>
	</div>
</section>
<!-- End About Section -->
<!-- Timeline Section -->
<section class="timeline-section">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="title">CHRONOLOGIE</div>
			<h2>Histoire De  <span>Notre Entreprise</span></h2>
		</div>
		<div class="inner-container">
			<div class="clearfix">

				<!-- History Block -->
				<div class="history-block clearfix">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="year">2015</div>
						<div class="content">
							<h4>African Excellence Awards</h4>
							<div class="text">Vestibulum ac dictum metus. Nam pretium turpis eget metus consequat rhoncus. Aliquam eu bibendum orci. Mauris vel velit at tortor commodo imperdiet et sit amet tortor. Nam pretium turpis eget metus Curabitur suscipit molestie mauris nec condimentum. </div>
							<a href="#" class="arrow flaticon-right-arrow-1"></a>
						</div>
					</div>
				</div>

				<!-- History Block -->
				<div class="history-block clearfix">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="year">2016</div>
						<div class="content">
							<h4>Recruitment Awards</h4>
							<div class="text">Vestibulum ac dictum metus. Nam pretium turpis eget metus consequat rhoncus. Aliquam eu bibendum orci. Mauris vel velit at tortor commodo imperdiet et sit amet tortor. Nam pretium turpis eget metus Curabitur suscipit molestie mauris nec condimentum. </div>
							<a href="#" class="arrow flaticon-right-arrow-1"></a>
						</div>
					</div>
				</div>

				<!-- History Block -->
				<div class="history-block clearfix">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="year">2017</div>
						<div class="content">
							<h4>Corporate Excellence Awards</h4>
							<div class="text">Vestibulum ac dictum metus. Nam pretium turpis eget metus consequat rhoncus. Aliquam eu bibendum orci. Mauris vel velit at tortor commodo imperdiet et sit amet tortor. Nam pretium turpis eget metus Curabitur suscipit molestie mauris nec condimentum. </div>
							<a href="#" class="arrow flaticon-right-arrow-1"></a>
						</div>
					</div>
				</div>

				<!-- History Block -->
				<div class="history-block clearfix">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="year">2018</div>
						<div class="content">
							<h4>Consultancy Awards</h4>
							<div class="text">Vestibulum ac dictum metus. Nam pretium turpis eget metus consequat rhoncus. Aliquam eu bibendum orci. Mauris vel velit at tortor commodo imperdiet et sit amet tortor. Nam pretium turpis eget metus Curabitur suscipit molestie mauris nec condimentum. </div>
							<a href="#" class="arrow flaticon-right-arrow-1"></a>
						</div>
					</div>
				</div>

				<!-- History Block -->
				<div class="history-block clearfix">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="year">2019</div>
						<div class="content">
							<h4>Executive Awards</h4>
							<div class="text">Vestibulum ac dictum metus. Nam pretium turpis eget metus consequat rhoncus. Aliquam eu bibendum orci. Mauris vel velit at tortor commodo imperdiet et sit amet tortor. Nam pretium turpis eget metus Curabitur suscipit molestie mauris nec condimentum. </div>
							<a href="#" class="arrow flaticon-right-arrow-1"></a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Timeline Section -->
@await Html.PartialAsync("~/Views/Shared/_FooterLayout.cshtml")
