@model IEnumerable<DashboardConseil.Models.Service>
﻿@{
	Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@await Html.PartialAsync("~/Views/Shared/_NavLayout.cshtml")
<section class="banner-section">
	<div class="main-slider-carousel owl-carousel owl-theme">

		<div class="slide" style="background-image: url(images/Website/image-1.jpg)">
			<div class="color-layer-one"></div>
			<div class="color-layer-two" style="background-image: url(images/Website/image-2.jpg)"></div>
			<div class="auto-container">
				<div class="row clearfix">

					<!-- Content Column -->
					<div class="content-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="title">Nous sommes Capital Conseil & Technologie </div> 
							<h1>Développer votre <br> <span>Entreprise </span></h1>
							<div class="text">Entreprise spécialisée dans la fourniture de services  de conseil et de solutions technologiques pour aider  les organisations  à optimiser leurs systèmes d'information et à atteindre leurs objectifs commerciaux.</div>
							<div class="btns-box">
@* 								<a href="/contact" class="theme-btn btn-style-one"><span class="txt">Get Quote</span></a>
 *@								<a href="/about" class="theme-btn btn-style-two"><span class="txt">En savoir plus  </span></a>
							</div>
						</div>
					</div>

					<!-- Image Column -->
					<div class="image-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image">
								<img src="images/HomeFatat.png" alt="" />
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="slide" style="background-image: url(images/Website/image-1.jpg)">
			<div class="color-layer-one"></div>
			<div class="color-layer-two" style="background-image: url(images/Website/image-2.jpg)"></div>
			<div class="auto-container">
				<div class="row clearfix">

					<!-- Content Column -->
					<div class="content-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="title">Nous sommes Capital Conseil & Technologie </div>
							<h1>Développer votre <br> <span>Entreprise </span></h1>
							<div class="text">Entreprise spécialisée dans la fourniture de services  de conseil et de solutions technologiques pour aider  les organisations  à optimiser leurs systèmes d'information et à atteindre leurs objectifs commerciaux.</div>
							<div class="btns-box">
@* 								<a href="/contact" class="theme-btn btn-style-one"><span class="txt">Get Quote</span></a>
 *@								<a href="/about" class="theme-btn btn-style-two"><span class="txt">En savoir plus </span></a>
							</div>
						</div>
					</div>

					<!-- Image Column -->
					<div class="image-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image">
								<img src="images/HomeFatat.png" alt="" />

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="slide" style="background-image: url(images/Website/image-1.jpg)">
			<div class="color-layer-one"></div>
			<div class="color-layer-two" style="background-image: url(images/Website/image-2.jpg)"></div>
			<div class="auto-container">
				<div class="row clearfix">

					<!-- Content Column -->
					<div class="content-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="title">Nous sommes Capital Conseil & Technologie </div>
							<h1>Développer votre <br> <span>Entreprise </span></h1>
							<div class="text">Entreprise spécialisée dans la fourniture de services  de conseil et de solutions technologiques pour aider  les organisations  à optimiser leurs systèmes d'information et à atteindre leurs objectifs commerciaux.</div>
							<div class="btns-box">
@* 								<a href="/contact" class="theme-btn btn-style-one"><span class="txt">Get Quote</span></a>
 *@								<a href="/about" class="theme-btn btn-style-two"><span class="txt">En savoir plus </span></a>
							</div>
						</div>
					</div>

					<!-- Image Column -->
					<div class="image-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image">
								<img src="images/HomeFatat.png" alt="" />
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

</section>
<!-- End Banner Section -->
<!--Sponsors Section-->
<section class="sponsors-section">
	<div class="outer-container">

		<div class="carousel-outer">
			<!--Sponsors Slider-->
			<ul class="sponsors-carousel owl-carousel owl-theme">
				<li><div class="image-box"><a href="https://www.interepargne.natixis.com/" target="_blank"><img src="images/Natixis.png" alt=""></a></div></li>
				<li><div class="image-box"><a href="https://servier.com/" target="_blank"><img src="images/SERVIER.png" alt=""></a></div></li>
				<li><div class="image-box"><a href="https://www.loreal-paris.fr/" target="_blank"><img src="images/L'Oreal.png" alt=""></a></div></li>
				<li><div class="image-box"><a href="https://carrieres.grandvisionfrance-recrute.fr/fr" target="_blank"><img src="images/GrandVision2.png" alt=""></a></div></li>
				<li><div class="image-box"><a href="https://www.lapostemobile.fr/" target="_blank"><img src="images/laposte.png" alt=""></a></div></li>
				<li><div class="image-box"><a href="https://www.groupebpce.com/" target="_blank"><img src="images/BPCE.png" alt=""></a></div></li>
			</ul>
		</div>
	</div>
</section>
<!--End Sponsors Section-->
<!-- About Section -->
<section class="about-section">
	<div class="pattern-layer" style="background-image: url(images/background/pattern-1.png)"></div>
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Image Column -->
			<div class="image-column col-lg-7 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="image">
						<img src="images/Website/about.jpg" alt="" />
					</div>
				</div>
			</div>

			<!-- Content Column -->
			<div class="content-column col-lg-5 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="title">A Propos de  Capital Conseil & Technologies</div>
					<h2>Nous traitons des aspects des  <br> services <span>informatiques professionnels.</span></h2>
					<p>Votre partenaire stratégique pour l’excellence technologique et la transformation numérique.</p>
					<div class="text">Forts d’une expertise pointue et d’une passion pour l’innovation, nous offrons une gamme complète de services de conseil en technologies et en systèmes d’information pour répondre aux défis complexes de votre entreprise dans un monde en constante évolution. </div>
					<!-- Fact Counter -->
					<div class="fact-counter">
						<div class="row clearfix">

							<!-- Column -->
							<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-soccer-cup"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3500" data-stop="1200">0</span>+
										</div>
										<div class="counter-title">Award Winners</div>
									</div>
								</div>
							</div>

							<!--Column-->
							<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-flag"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="2500" data-stop="25">0</span>+
										</div>
										<div class="counter-title">Year Experience</div>
									</div>
								</div>
							</div>

							<!--Column-->
							<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-book"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3000" data-stop="1200">0</span>+
										</div>
										<div class="counter-title">Business Guide</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a href="/about" class="theme-btn btn-style-two"><span class="txt">En Savoir Plus </span></a>

				</div>
			</div>

		</div>
	</div>
</section>
<!-- End About Section -->
<!-- Services Section -->
<section class="services-section">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="title">Nos Services</div>
			<h2>Nos meilleurs <span>services de conseil</span></h2>
		</div>
		<div class="row clearfix">
			@foreach (var service in Model)
			{
				<div class="service-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp h-100" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="color-layer">
							<span class="side-icon flaticon-line-graph"></span>
						</div>
						<div class="icon-box">
							<span class="icon flaticon-bar-chart"></span>
						</div>
						<h4>
							<a href="@Url.Action("Details", "Services", new { id = service.Id })">
								@service.Nom
							</a>
						</h4>
						<div class="text">@service.Description</div>
						<a class="arrow" href="/Service">
							<span class="txt">More</span>
							<span class="arrow-icon flaticon-right-arrow-1"></span>
						</a>
					</div>
				</div>
			}
		</div>
	</div>
</section><!-- End Services Section -->

@* <section class="cta-section">
	<div class="auto-container">
		<div class="inner-container">
			<div class="pattern-layer" style="background-image: url(images/background/pattern-4.png)"></div>
			<div class="row clearfix">

				<!-- Title Column -->
				<div class="title-column col-lg-9 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2>
							Pour explorer nos services, veuillez cliquer sur  <span>le bouton ci-dessous </span>
						</h2>
						<a href="/Service" class="started">Nos Services</a>
					</div>
				</div>

				<!-- Button Column -->
				<div class="button-column col-lg-3 col-md-12 col-sm-12">
					<div class="inner-column">
						<a href="/Contact" class="theme-btn btn-style-four"><span class="txt">Contactez Nous</span></a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
 *@

<!-- Business Section -->
<section class="business-section">
	<div class="auto-container">
		<!-- Upper Section -->
		<div class="upper-section">
			<div class="row clearfix">

				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="title">Pourquoi nous choisir ?</div>
						<h2>Comment  <span>Capital Conseil & Technologies</span> aide votre entreprise <span>Grandir et réussir</span></h2>
@* 						<p>Vestibulum ac dictum metus. Nam pretium turpis eget metus consequat rhoncus. Aliquam eu bibendum orci. Mauris vel velit at tortor commodo imperdiet et sit amet tortor. Nam pretium turpis eget metus </p>
 *@						<ul class="list-style-one">
							<li>Expertise spécialisée.</li>
							<li>Gain de temps.</li>
							<li>Objectivité et perspective externe.</li>
							<li>Flexibilité et agilité.</li>
						</ul>
					</div>
				</div>

				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image titlt" data-tilt data-tilt-max="3">
							<img src="images/Website/business.jpg" alt="" />
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- Lower Section -->
		<div class="lower-section">
			<div class="row clearfix">

				<!-- Service Block Two -->
				<div class="service-block-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="number">01</div>
						<h5><a href="/Service">Expertise spécialisée</a></h5>
						<div class="text">Ces entreprises disposent d'une équipe d'experts hautement qualifiés et expérimentés dans divers domaines..</div>
					</div>
				</div>

				<!-- Service Block Two -->
				<div class="service-block-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="number">02</div>
						<h5><a href="/Service">Objectivité et perspective externe</</a></h5>
						<div class="text">Prendre des décisions éclairées sans être influencé par les préjugés internes.</div>
					</div>
				</div>

				<!-- Service Block Two -->
				<div class="service-block-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="number">03</div>
						<h5><a href="/Service">Gain de temps</a></h5>
						<div class="text">Bénéficier d'une expertise instantanée sans avoir à former ou à embaucher du personnel supplémentaire.</div>
					</div>
				</div>

				<!-- Service Block Two -->
				<div class="service-block-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
						<div class="number">04</div>
						<h5><a href="/Service">Flexibilité et agilité</a></h5>
						<div class="text">Une flexibilité pour s'adapter aux besoins changeants de votre entreprise, que ce soit pour des projets à court terme .</div>
					</div>
				</div>

			</div>

			<!-- Button Box -->
@* 			<div class="btn-box text-center">
				<a href="/Contact" class="theme-btn btn-style-three"><span class="txt">Get A Quote</span></a>
			</div> *@

		</div>

	</div>
</section>
<!-- End Business Section -->
<!-- Testimonial Section -->
<section class="testimonial-section" style="background-image: url(images/background/pattern-2.png)">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title light centered">
			<div class="title">Client Testimonials</div>
			<h2>What People Say About <span>Capital Techniques & services</span></h2>
		</div>

		<div class="testimonial-outer">

			<!--Client Testimonial Carousel-->
			<div class="client-testimonial-carousel owl-carousel owl-theme">

				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="row clearfix">
							<!-- Content Column -->
							<div class="content-column col-lg-5 col-md-12 col-sm-12">
								<div class="inner-column">
									<span class="quote-icon flaticon-quote"></span>
									<div class="text">"Maecenas nec sem dui. Fusce vulputate scelerisque eros, vitae pretium odio faucibus ac. Nunc eget nunc massa. Phasellus eu urna massa. Suspendisse non diam a elit hendrerit porttitor. Nunc sed semper ex. Praesent purus erat.</div>
									<div class="author">
										John Doe<span>Designer</span>
									</div>
								</div>
							</div>
							<!-- Image Column -->
							<div class="image-column col-lg-7 col-md-12 col-sm-12">
								<div class="inner-column">
									<div class="image">
										<img src="images/Website/testimonial-1.jpg" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="row clearfix">
							<!-- Content Column -->
							<div class="content-column col-lg-5 col-md-12 col-sm-12">
								<div class="inner-column">
									<span class="quote-icon flaticon-quote"></span>
									<div class="text">"Maecenas nec sem dui. Fusce vulputate scelerisque eros, vitae pretium odio faucibus ac. Nunc eget nunc massa. Phasellus eu urna massa. Suspendisse non diam a elit hendrerit porttitor. Nunc sed semper ex. Praesent purus erat.</div>
									<div class="author">
										John Doe<span>Designer</span>
									</div>
								</div>
							</div>
							<!-- Image Column -->
							<div class="image-column col-lg-7 col-md-12 col-sm-12">
								<div class="inner-column">
									<div class="image">
										<img src="images/Website/testimonial-1.jpg" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="row clearfix">
							<!-- Content Column -->
							<div class="content-column col-lg-5 col-md-12 col-sm-12">
								<div class="inner-column">
									<span class="quote-icon flaticon-quote"></span>
									<div class="text">"Maecenas nec sem dui. Fusce vulputate scelerisque eros, vitae pretium odio faucibus ac. Nunc eget nunc massa. Phasellus eu urna massa. Suspendisse non diam a elit hendrerit porttitor. Nunc sed semper ex. Praesent purus erat.</div>
									<div class="author">
										John Doe<span>Designer</span>
									</div>
								</div>
							</div>
							<!-- Image Column -->
							<div class="image-column col-lg-7 col-md-12 col-sm-12">
								<div class="inner-column">
									<div class="image">
										<img src="images/Website/testimonial-1.jpg" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="row clearfix">
							<!-- Content Column -->
							<div class="content-column col-lg-5 col-md-12 col-sm-12">
								<div class="inner-column">
									<span class="quote-icon flaticon-quote"></span>
									<div class="text">"Maecenas nec sem dui. Fusce vulputate scelerisque eros, vitae pretium odio faucibus ac. Nunc eget nunc massa. Phasellus eu urna massa. Suspendisse non diam a elit hendrerit porttitor. Nunc sed semper ex. Praesent purus erat.</div>
									<div class="author">
										John Doe<span>Designer</span>
									</div>
								</div>
							</div>
							<!-- Image Column -->
							<div class="image-column col-lg-7 col-md-12 col-sm-12">
								<div class="inner-column">
									<div class="image">
										<img src="images/Website/testimonial-1.jpg" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="row clearfix">
							<!-- Content Column -->
							<div class="content-column col-lg-5 col-md-12 col-sm-12">
								<div class="inner-column">
									<span class="quote-icon flaticon-quote"></span>
									<div class="text">"Maecenas nec sem dui. Fusce vulputate scelerisque eros, vitae pretium odio faucibus ac. Nunc eget nunc massa. Phasellus eu urna massa. Suspendisse non diam a elit hendrerit porttitor. Nunc sed semper ex. Praesent purus erat.</div>
									<div class="author">
										John Doe<span>Designer</span>
									</div>
								</div>
							</div>
							<!-- Image Column -->
							<div class="image-column col-lg-7 col-md-12 col-sm-12">
								<div class="inner-column">
									<div class="image">
										<img src="images/Website/testimonial-1.jpg" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="row clearfix">
							<!-- Content Column -->
							<div class="content-column col-lg-5 col-md-12 col-sm-12">
								<div class="inner-column">
									<span class="quote-icon flaticon-quote"></span>
									<div class="text">"Maecenas nec sem dui. Fusce vulputate scelerisque eros, vitae pretium odio faucibus ac. Nunc eget nunc massa. Phasellus eu urna massa. Suspendisse non diam a elit hendrerit porttitor. Nunc sed semper ex. Praesent purus erat.</div>
									<div class="author">
										John Doe<span>Designer</span>
									</div>
								</div>
							</div>
							<!-- Image Column -->
							<div class="image-column col-lg-7 col-md-12 col-sm-12">
								<div class="inner-column">
									<div class="image">
										<img src="images/Website/testimonial-1.jpg" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!--Product Thumbs Carousel-->
			<div class="client-thumb-outer">
				<div class="client-thumbs-carousel owl-carousel owl-theme">
					<div class="thumb-item">
						<figure class="thumb-box"><img src="images/Website/testimonial-thumb-1.jpg" alt=""></figure>
					</div>
					<div class="thumb-item">
						<figure class="thumb-box"><img src="images/Website/testimonial-thumb-2.jpg" alt=""></figure>
					</div>
					<div class="thumb-item">
						<figure class="thumb-box"><img src="images/Website/testimonial-thumb-3.jpg" alt=""></figure>
					</div>
					<div class="thumb-item">
						<figure class="thumb-box"><img src="images/Website/testimonial-thumb-4.jpg" alt=""></figure>
					</div>
					<div class="thumb-item">
						<figure class="thumb-box"><img src="images/Website/testimonial-thumb-1.jpg" alt=""></figure>
					</div>
					<div class="thumb-item">
						<figure class="thumb-box"><img src="images/Website/testimonial-thumb-2.jpg" alt=""></figure>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>
<!-- End Testimonial Section -->
<!-- Cases Section -->
<section class="cases-section">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="title">Our Cases</div>
			<h2>We Provide Exclusive <span>Business</span></h2>
		</div>
		<div class="row clearfix">

			<!-- Case Block -->
			<div class="case-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<img src="images/Website/case-1.jpg" alt="" />
						<div class="overlay-box">
							<a href="#" class="search-icon"><span class="icon flaticon-link"></span></a>
						</div>
					</div>
					<div class="lower-content">
						<div class="category">Financial Strategy</div>
						<h4><a href="#">Developing a program to be alleviate poverty</a></h4>
						<a class="arrow" href="#"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
					</div>
				</div>
			</div>

			<!-- Case Block -->
			<div class="case-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<img src="images/Website/case-2.jpg" alt="" />
						<div class="overlay-box">
							<a href="#" class="search-icon"><span class="icon flaticon-link"></span></a>
						</div>
					</div>
					<div class="lower-content">
						<div class="category">Profit Planning</div>
						<h4><a href="#">Cras elementum dui a nibh commodo pellentesque</a></h4>
						<a class="arrow" href="#"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
					</div>
				</div>
			</div>

			<!-- Case Block -->
			<div class="case-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<img src="images/Website/case-3.jpg" alt="" />
						<div class="overlay-box">
							<a href="#" class="search-icon"><span class="icon flaticon-link"></span></a>
						</div>
					</div>
					<div class="lower-content">
						<div class="category">Project Reporting</div>
						<h4><a href="#">Curabitur pulvinar nisi impe rdiet odio vestibulu</a></h4>
						<a class="arrow" href="#"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
					</div>
				</div>
			</div>

			<!-- Case Block -->
			<div class="case-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<img src="images/Website/case-4.jpg" alt="" />
						<div class="overlay-box">
							<a href="#" class="search-icon"><span class="icon flaticon-link"></span></a>
						</div>
					</div>
					<div class="lower-content">
						<div class="category">Financial Strategy</div>
						<h4><a href="#">Quisque elementum eleif end est vitae lobortis</a></h4>
						<a class="arrow" href="#"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
					</div>
				</div>
			</div>

			<!-- Case Block -->
			<div class="case-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<img src="images/Website/case-5.jpg" alt="" />
						<div class="overlay-box">
							<a href="#" class="search-icon"><span class="icon flaticon-link"></span></a>
						</div>
					</div>
					<div class="lower-content">
						<div class="category">Security Enhanced</div>
						<h4><a href="#">Vivamus ante lectus, scele risque eu pharetra id</a></h4>
						<a class="arrow" href="#"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
					</div>
				</div>
			</div>

			<!-- Case Block -->
			<div class="case-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<img src="images/Website/case-6.jpg" alt="" />
						<div class="overlay-box">
							<a href="#" class="search-icon"><span class="icon flaticon-link"></span></a>
						</div>
					</div>
					<div class="lower-content">
						<div class="category">Financial Strategy</div>
						<h4><a href="#">Morbi ut placerat neque pha sellus vulputate</a></h4>
						<a class="arrow" href="#"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Cases Section -->
<!-- Team Section -->
<section class="team-section">
	<div class="pattern-layer" style="background-image: url(images/background/pattern-3.png)"></div>
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="title">Notre Equipe</div>
			<h2>Obtenez Des Services Auprès De  <span>Nos Experts</span></h2>
		</div>
		<div class="row clearfix">

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<img src="images/Website/team-1.jpg" alt="" />
						<!-- Overlay Box -->
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<!-- Social Box -->
									<ul class="social-box">
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="lower-content">
						<h4><a href="team.html">Jack Mehoff</a></h4>
						<div class="designation">Office Manager</div>
					</div>
				</div>
			</div>

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<img src="images/Website/team-2.jpg" alt="" />
						<!-- Overlay Box -->
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<!-- Social Box -->
									<ul class="social-box">
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="lower-content">
						<h4><a href="team.html">Maria John</a></h4>
						<div class="designation">Marketing Expert</div>
					</div>
				</div>
			</div>

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<img src="images/Website/team-3.jpg" alt="" />
						<!-- Overlay Box -->
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<!-- Social Box -->
									<ul class="social-box">
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="lower-content">
						<h4><a href="team.html">Sarena Martyn</a></h4>
						<div class="designation">ERP Manager</div>
					</div>
				</div>
			</div>

			<!-- Team Block -->
			<div class="team-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<img src="images/Website/team-4.jpg" alt="" />
						<!-- Overlay Box -->
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<!-- Social Box -->
									<ul class="social-box">
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="lower-content">
						<h4><a href="team.html">Jenn Doe</a></h4>
						<div class="designation">Senior Consultant</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Team Section -->
<!-- CTA Section -->
<section class="cta-section">
	<div class="auto-container">
		<div class="inner-container">
			<div class="pattern-layer" style="background-image: url(images/background/pattern-4.png)"></div>
			<div class="row clearfix">

				<!-- Title Column -->
				<div class="title-column col-lg-9 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2>
							Faire parler de vous,  <span>c’est notre métier</span>
						</h2>
						<a href="/Contact" class="started">Contactez Nous</a>
					</div>
				</div>

				<!-- Button Column -->
				<div class="button-column col-lg-3 col-md-12 col-sm-12">
					<div class="inner-column">
						<a href="/Contact" class="theme-btn btn-style-four"><span class="txt">Contactez Nous</span></a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End CTA Section -->
<!-- News Section -->
<section class="news-section">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="title">Blogs Articles</div>
			<h2>Something Know Our <span>Latest News</span></h2>
		</div>
		<div class="row clearfix">

			<!-- News Block -->
			<div class="news-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<a href="news-detail.html"><img src="images/Website/news-1.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="post-date">24<span>JAN</span></div>
						<div class="category">Information</div>
						<h4><a href="news-detail.html">Organic and Natural What’s the Difference?</a></h4>
						<div class="text">Sed venenatis ut sem id molestie. Pelle ntes que habitant morbi tristique senectus et ne tus et malesuada. </div>
						<a class="arrow" href="news-detail.html"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
					</div>
				</div>
			</div>

			<!-- News Block -->
			<div class="news-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<a href="news-detail.html"><img src="images/Website/news-2.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="post-date">12<span>mar</span></div>
						<div class="category">Information</div>
						<h4><a href="news-detail.html">Why a Visual Identity System is More Memorable</a></h4>
						<div class="text">Sed venenatis ut sem id molestie. Pelle ntes que habitant morbi tristique senectus et ne tus et malesuada. </div>
						<a class="arrow" href="news-detail.html"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
					</div>
				</div>
			</div>

			<!-- News Block -->
			<div class="news-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<a href="news-detail.html"><img src="images/Website/news-3.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="post-date">30<span>sep</span></div>
						<div class="category">Information</div>
						<h4><a href="news-detail.html">Make Website That Surpasses Amongst All The</a></h4>
						<div class="text">Sed venenatis ut sem id molestie. Pelle ntes que habitant morbi tristique senectus et ne tus et malesuada. </div>
						<a class="arrow" href="news-detail.html"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
@await Html.PartialAsync("~/Views/Shared/_FooterLayout.cshtml")