<!-- Page Title -->
@{
	Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@await Html.PartialAsync("~/Views/Shared/_NavLayout.cshtml")
<section class="page-title" style="background-image: url(images/background/3.jpg)">
	<div class="auto-container">
		<h1>Service Detail</h1>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Services</li>
			<li>Service Detail</li>
		</ul>
	</div>
</section>
<!-- End Page Title -->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Content Side -->
			<div class="content-side col-lg-9 col-md-12 col-sm-12">
				<div class="service-detail">
					<div class="inner-box">
						<div class="image">
							<img src="images/resource/service.jpg" alt="" />
						</div>
						<div class="lower-content">
							<h3>Business Planning</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim, nisi eget auctor tristique, magna turpis viverra urna, sed gravida nulla velit vitae ipsum. Sed at semper quam. Nam in vulputate tortor. Sed in fermentum nisl. Fusce finibus rhoncus lorem quis ultricies. Nam id nulla ut sem viverra molestie. Donec massa eros, egestas eget odio vitae, convallis interdum lectus. Integer euismod rutrum dui at tristique. Nulla aliquam risus a dapibus consequat.</p>
							<blockquote>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim, nisi eget auctor tristique, magna turpis viverra urna, sed gravida nulla velit vitae ipsum. Sed at semper auam Donec tempus convallis tincidunt.
								<span class="author">Rosalina D. William</span>
								<span class="quote-icon flaticon-quote"></span>
							</blockquote>
							<div class="two-column">
								<div class="row clearfix">
									<div class="column col-lg-6 col-md-6 col-sm-12">
										<div class="image">
											<img src="images/resource/service-1.jpg" alt="" />
										</div>
									</div>
									<div class="column col-lg-6 col-md-6 col-sm-12">
										<h3>Benifits</h3>
										<ul class="list-style-one">
											<li>Duis consequat nulla velit id sed tortor pellentes.</li>
											<li>Vivamus nec lorem velit id dapibus neque maximus.</li>
											<li>Quisque ut auctor turpis velit id dapibus consectetur.</li>
											<li>Ut enim ad minim veniam id dapibus nostrud .</li>
										</ul>
									</div>
								</div>
							</div>
							<h3>Service Features</h3>
							<div class="row clearfix">

								<!-- Feature Block Three -->
								<div class="feature-block-three col-lg-4 col-md-4 col-sm-12">
									<div class="feature-inner">
										<div class="upper-box">
											<div class="icon flaticon-line-graph"></div>
											<h6>Creative Design</h6>
										</div>
										<div class="feature-text">Vestibulum pharetra mattis orci sed egestas quam auctor in. </div>
									</div>
								</div>

								<!-- Feature Block Three -->
								<div class="feature-block-three col-lg-4 col-md-4 col-sm-12">
									<div class="feature-inner">
										<div class="upper-box">
											<div class="icon flaticon-stats"></div>
											<h6>Project Managment</h6>
										</div>
										<div class="feature-text">Vestibulum pharetra mattis orci sed egestas quam auctor in. </div>
									</div>
								</div>

								<!-- Feature Block Three -->
								<div class="feature-block-three col-lg-4 col-md-4 col-sm-12">
									<div class="feature-inner">
										<div class="upper-box">
											<div class="icon flaticon-bar-chart"></div>
											<h6>Complete Analysis</h6>
										</div>
										<div class="feature-text">Vestibulum pharetra mattis orci sed egestas quam auctor in. </div>
									</div>
								</div>

							</div>
							<h3>Our Marketing Plan</h3>
							<div class="row clearfix">

								<!-- Feature Block Four -->
								<div class="feature-block-four col-lg-6 col-md-6 col-sm-12">
									<div class="feature-inner">
										<div class="content">
											<div class="upper-box">
												<div class="icon flaticon-graduated-1"></div>
												<h6>Customization</h6>
											</div>
											<div class="feature-text">Orci varius natoque penatibus et magnis dis parturient montes, nascetur </div>
										</div>
									</div>
								</div>

								<!-- Feature Block Four -->
								<div class="feature-block-four col-lg-6 col-md-6 col-sm-12">
									<div class="feature-inner">
										<div class="content">
											<div class="upper-box">
												<div class="icon flaticon-online-learning"></div>
												<h6>Innovation</h6>
											</div>
											<div class="feature-text">Orci varius natoque penatibus et magnis dis parturient montes, nascetur </div>
										</div>
									</div>
								</div>

								<!-- Feature Block Four -->
								<div class="feature-block-four col-lg-6 col-md-6 col-sm-12">
									<div class="feature-inner">
										<div class="content">
											<div class="upper-box">
												<div class="icon flaticon-team"></div>
												<h6>Partnership</h6>
											</div>
											<div class="feature-text">Orci varius natoque penatibus et magnis dis parturient montes, nascetur </div>
										</div>
									</div>
								</div>

								<!-- Feature Block Four -->
								<div class="feature-block-four col-lg-6 col-md-6 col-sm-12">
									<div class="feature-inner">
										<div class="content">
											<div class="upper-box">
												<div class="icon flaticon-line-graph"></div>
												<h6>Expertise</h6>
											</div>
											<div class="feature-text">Orci varius natoque penatibus et magnis dis parturient montes, nascetur </div>
										</div>
									</div>
								</div>

							</div>

							<div class="two-column">
								<div class="row clearfix">
									<div class="column col-lg-6 col-md-6 col-sm-12">
										<h3>Financial Chart </h3>
										<p>Duis consequat nulla sed tortor pellentesque venenatis. Nullam sollicitudin velit nec pulvinar condimentum. Phasellus nec lacus vulputate, tempus libero et, placerat augue. Aliquam erat volutpat. </p>
										<p>Sed blandit cursus quam eget ornare. Donec sed orci sed arcu volutpat porttitor. Nam nec fermentum mauris. Aenean ipsum dolor, cursus eu porta quis, feugiat nec nulla. Morbi placerat gravida consectetur adipiscing elit.</p>
									</div>
									<div class="column col-lg-6 col-md-6 col-sm-12">
										<div class="image">
											<img src="images/resource/service-2.jpg" alt="" />
										</div>
									</div>
								</div>
							</div>
							<h3>How it Works</h3>
							<p>Vivamus nec lorem vel neque maximus commodo et non sapien. Quisque ut auctor turpis. Quisque tellus dolor, laoreet vitae pretium sit amet, consectetur eget eros. Donec eleifend lacinia tortor, et blandit libero ullamcorper sit amet. Curabitur quis fermentum dui, vel elementum erat. Cras placerat, diam quis congue suscipit, nisi neque vehicula magna, et eleifend lorem nunc ac mauris. </p>

							<!-- Accordian Box -->
							<ul class="accordion-box">

								<!-- Block -->
								<li class="accordion block active-block">
									<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What is Business Consulting?</div>
									<div class="acc-content current">
										<div class="content">
											<div class="text">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  ex eget ligula sodales aliquam et ullamcorper arcu In rhoncus.</div>
										</div>
									</div>
								</li>

								<!-- Block -->
								<li class="accordion block">
									<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Why you need consulting service before start a new business?</div>
									<div class="acc-content">
										<div class="content">
											<div class="text">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  ex eget ligula sodales aliquam et ullamcorper arcu In rhoncus.</div>
										</div>
									</div>
								</li>

								<!-- Block -->
								<li class="accordion block">
									<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How to be more binifited on business now-a-days?</div>
									<div class="acc-content">
										<div class="content">
											<div class="text">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  ex eget ligula sodales aliquam et ullamcorper arcu In rhoncus.</div>
										</div>
									</div>
								</li>

								<!-- Block -->
								<li class="accordion block">
									<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How does the Consulting process work?</div>
									<div class="acc-content">
										<div class="content">
											<div class="text">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  ex eget ligula sodales aliquam et ullamcorper arcu In rhoncus.</div>
										</div>
									</div>
								</li>

							</ul>

							<!-- More Posts -->
							<div class="more-posts">
								<div class="clearfix">
									<div class="pull-left">
										<a href="#" class="prev-post">
											<span class="arrow flaticon-left-arrow-1"></span>
											Previous Service
											<i>Financial Service</i>
										</a>
									</div>
									<div class="pull-right">
										<a href="#" class="next-post">
											<span class="arrow flaticon-right-arrow-1"></span>
											Next Service
											<i>Project Managment</i>
										</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<!-- Sidebar Side -->
			<div class="sidebar-side col-lg-3 col-md-12 col-sm-12">
				<aside class="sidebar sticky-top">

					<!-- Categories Widget -->
					<div class="sidebar-widget categories-widget">
						<div class="widget-content">
							<div class="sidebar-title">
								<h5>Services</h5>
							</div>
							<ul class="blog-cat">
								<li class="active"><a href="#">Financial Service</a></li>
								<li><a href="#">Business Planning</a></li>
								<li><a href="#">Project Managment</a></li>
								<li><a href="#">Environment Consult</a></li>
								<li><a href="#">Travel & Aviation</a></li>
								<li><a href="#">Consumer Consulting</a></li>
							</ul>
						</div>
					</div>

					<!-- Company Widget -->
					<div class="sidebar-widget company-widget">
						<div class="widget-content">
							<div class="sidebar-title">
								<h5>Our Company</h5>
							</div>
							<div class="text">Vestibulum pharetra mattis orci, sed egestas quam auctor in. Sed sit amet risus dapibus, dapibus lorem eget.</div>
							<!-- Broucher Box -->
							<div class="broucher-box">
								<a href="#" class="overlay-link"></a>
								<div class="broucher-inner">
									<span class="download-icon flaticon-down-arrow"></span>
									Company Presentation
								</div>
							</div>
							<!-- Broucher Box -->
							<div class="broucher-box">
								<a href="#" class="overlay-link"></a>
								<div class="broucher-inner">
									<span class="download-icon flaticon-down-arrow"></span>
									Company Reports
								</div>
							</div>
						</div>
					</div>

					<!-- Area Widget -->
					<div class="sidebar-widget area-widget">
						<div class="widget-content">
							<div class="sidebar-title">
								<h5>Focus Areas</h5>
							</div>

							<!-- Area Post -->
							<div class="area-post">
								<div class="post-inner">
									<div class="image">
										<a href="#"><img src="images/resource/post-thumb-3.jpg" alt="" /></a>
									</div>
									<div class="lower-box">
										<h6><a href="#">Physically seen a dozen or so from clients</a></h6>
										<a href="#" class="arrow flaticon-right-arrow-1"></a>
									</div>
								</div>
							</div>

							<!-- Area Post -->
							<div class="area-post">
								<div class="post-inner">
									<div class="image">
										<a href="#"><img src="images/resource/post-thumb-4.jpg" alt="" /></a>
									</div>
									<div class="lower-box">
										<h6><a href="#">Common for all consulting presentations</a></h6>
										<a href="#" class="arrow flaticon-right-arrow-1"></a>
									</div>
								</div>
							</div>

							<!-- Area Post -->
							<div class="area-post">
								<div class="post-inner">
									<div class="image">
										<a href="#"><img src="images/resource/post-thumb-5.jpg" alt="" /></a>
									</div>
									<div class="lower-box">
										<h6><a href="#">We introduce the base cases section (part 1)</a></h6>
										<a href="#" class="arrow flaticon-right-arrow-1"></a>
									</div>
								</div>
							</div>

						</div>
					</div>

					<!-- Company Widget -->
					<div class="sidebar-widget company-widget">
						<div class="widget-content">
							<div class="sidebar-title">
								<h5>Brochure Download</h5>
							</div>
							<div class="text">Click download button for getting brochure file.</div>
							<!-- Broucher Box -->
							<div class="broucher-box">
								<a href="#" class="overlay-link"></a>
								<div class="broucher-inner">
									<span class="download-icon flaticon-down-arrow"></span>
									Download PDF
								</div>
							</div>
						</div>
					</div>

					<!-- Faq Contact Widget -->
					<div class="faq-contact-widget">
						<div class="widget-content" style="background-image: url(images/background/4.jpg)">
							<h4>Contact Form</h4>
							<!-- Faq Widget Form -->
							<div class="faq-widget-form">

								<!-- Contact Form -->
								<form method="post" action="contact.html">

									<div class="form-group">
										<span class="icon flaticon-user-2"></span>
										<input type="text" name="username" placeholder="Enter Name" required>
									</div>

									<div class="form-group">
										<span class="icon flaticon-big-envelope"></span>
										<input type="email" name="email" placeholder="Enter Email" required>
									</div>

									<div class="form-group">
										<span class="icon flaticon-phone-call"></span>
										<input type="text" name="phone" placeholder="Enter Phone Number" required>
									</div>

									<div class="form-group">
										<button class="theme-btn submit-btn" type="submit" name="submit-form">Submit <span class="arrow flaticon-right-arrow-1"></span></button>
									</div>

								</form>

								<!-- Faq Widget Form -->
							</div>
						</div>
					</div>

				</aside>
			</div>

		</div>
	</div>
</div>
<!-- End Sidebar Page Container -->
<!-- Newsletter Section -->
@await Html.PartialAsync("~/Views/Shared/_FooterLayout.cshtml")
