@{
	Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@await Html.PartialAsync("~/Views/Shared/_NavLayout.cshtml")

<section class="page-title" style="background-image: url(images/Website/3.jpg)">
	<div class="auto-container">
		<h1>Services</h1>
		<ul class="page-breadcrumb">
			<li><a href="index">home</a></li>
			<li>Services</li>
		</ul>
	</div>
</section>

<div class="services-page-section">
	<div class="auto-container">
		<div class="row clearfix">

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="/Service">Conseil en gestion et en technologies</a></h4>
					<div class="text">Notre savoir-faire en conseil en gestion et en technologies constitue la clé de votre réussite </div>
					<a class="arrow" href="/Service"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="/Service">Développement d'applications</a></h4>
					<div class="text">Notre équipe de développeurs excelle dans la conception d'applications personnalisées <br /><br /></div>
					<a class="arrow" href="/Service"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="/Service">Intégration de systèmes</a></h4>
					<div class="text">L'intégration de systèmes est cruciale pour garantir la fluidité des opérations.<br /><br /><br /></div>
					<a class="arrow" href="/Service"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="/Service">Cybersecurity</a></h4>
					<div class="text">La sécurité de vos données et de vos biens est notre principale préoccupation. Face à l'augmentation des cyberattaques</div>
					<a class="arrow" href="/Service"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="/Service">Maintenance de systèmes <br /> existants</a></h4>
					<div class="text">La maintenance de systèmes existants implique la résolution de problèmes techniques</div>
					<a class="arrow" href="/Service"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="/Service">Gestion de projets complexes</a></h4>
					<div class="text">Nécessite une planification minutieuse, une coordination efficace des ressources et une communication transparente pour atteindre les objectifs.</div>
					<a class="arrow" href="/Service"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="#">Transformation numérique</a></h4>
					<div class="text">Révolutionne les opérations commerciales pour améliorer l'efficacité, l'agilité et l'expérience client. </div>
					<a class="arrow" href="#"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="#">Cloud computing</a></h4>
					<div class="text">Offrant une flexibilité et une évolutivité accrues sans nécessiter d'infrastructure physique sur site.</div>
					<a class="arrow" href="#"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

@* 			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="#">Project Reporting</a></h4>
					<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod data tempor incididunt ut </div>
					<a class="arrow" href="#"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>
 *@
		</div>
	</div>
</div>

@await Html.PartialAsync("~/Views/Shared/_FooterLayout.cshtml")
