@{
	Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@await Html.PartialAsync("~/Views/Shared/_NavLayout.cshtml")
<section class="page-title" style="background-image: url(images/background/3.jpg)">
	<div class="auto-container">
		<h1>Services</h1>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Services</li>
		</ul>
	</div>
</section>

<div class="services-page-section">
	<div class="auto-container">
		<div class="row clearfix">

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="service-detail.html">Business Analysis</a></h4>
					<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod data tempor incididunt ut </div>
					<a class="arrow" href="service-detail.html"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="service-detail.html">Profit Planning</a></h4>
					<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod data tempor incididunt ut </div>
					<a class="arrow" href="service-detail.html"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="service-detail.html">Project Reporting</a></h4>
					<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod data tempor incididunt ut </div>
					<a class="arrow" href="service-detail.html"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="service-detail.html">Estate Planning</a></h4>
					<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod data tempor incididunt ut </div>
					<a class="arrow" href="service-detail.html"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="service-detail.html">Security Enhanced</a></h4>
					<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod data tempor incididunt ut </div>
					<a class="arrow" href="service-detail.html"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="service-detail.html">Cloud Computing</a></h4>
					<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod data tempor incididunt ut </div>
					<a class="arrow" href="service-detail.html"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="service-detail.html">Business Analysis</a></h4>
					<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod data tempor incididunt ut </div>
					<a class="arrow" href="service-detail.html"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="service-detail.html">Profit Planning</a></h4>
					<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod data tempor incididunt ut </div>
					<a class="arrow" href="service-detail.html"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

			<div class="service-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="color-layer">
						<span class="side-icon flaticon-line-graph"></span>
					</div>
					<div class="icon-box">
						<span class="icon flaticon-bar-chart"></span>
					</div>
					<h4><a href="service-detail.html">Project Reporting</a></h4>
					<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod data tempor incididunt ut </div>
					<a class="arrow" href="service-detail.html"><span class="txt">More</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
				</div>
			</div>

		</div>
	</div>
</div>

@await Html.PartialAsync("~/Views/Shared/_FooterLayout.cshtml")
