@{
	Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@await Html.PartialAsync("~/Views/Shared/_NavLayout.cshtml")
<!-- Page Title -->
<section class="page-title" style="background-image: url(images/background/3.jpg)">
	<div class="auto-container">
		<h1>TEAM DETAIL</h1>
		<ul class="page-breadcrumb">
			<li><a href="index.html">home</a></li>
			<li>Team</li>
			<li>TEAM DETAIL</li>
		</ul>
	</div>
</section>
<!-- End Page Title -->
<!-- Team Detail Section -->
<div class="team-detail-section">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Info Column -->
			<div class="info-column col-lg-4 col-md-12 col-sm-12">
				<div class="inner-column">

					<!-- Profile Box -->
					<div class="profile-box">
						<div class="box-inner">
							<div class="image">
								<img src="images/resource/profile.jpg" alt="" />
							</div>
							<div class="lower-box">
								<h3>Donald Grower</h3>
								<div class="designation">General Manager</div>
								<ul class="profile-list">
									<li><span>Phone :</span><a href="tel:+32-244-0562-2985">(+32) 244 0562 2985</a></li>
									<li><span>Email :</span><a href="mailto:donaldgrower@gmail.com">donaldgrower@gmail.com</a></li>
									<li><span>Website :</span><a href="#">name@domain.com</a></li>
									<li><span>Address :</span>94 Baker Street, Las Vegas</li>
									<li><span>Experience :</span>+5 Years Experience</li>
								</ul>
								<!-- Social Box -->
								<ul class="social-box">
									<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
									<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
									<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
									<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Team Contact Widget -->
					<div class="team-contact-widget">
						<div class="widget-content">
							<h4>Contact Form</h4>
							<!-- Team Widget Form -->
							<div class="team-widget-form">

								<!-- Contact Form -->
								<form method="post" action="contact.html">

									<div class="form-group">
										<span class="icon flaticon-user-2"></span>
										<input type="text" name="username" placeholder="Enter Name" required>
									</div>

									<div class="form-group">
										<span class="icon flaticon-big-envelope"></span>
										<input type="email" name="email" placeholder="Enter Email" required>
									</div>

									<div class="form-group">
										<span class="icon flaticon-phone-call"></span>
										<input type="text" name="phone" placeholder="Enter Phone Number" required>
									</div>

									<div class="form-group">
										<button class="theme-btn submit-btn" type="submit" name="submit-form">Submit <span class="arrow flaticon-right-arrow-1"></span></button>
									</div>

								</form>

								<!-- Faq Widget Form -->
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- Content Column -->
			<div class="content-column col-lg-8 col-md-12 col-sm-12">
				<div class="inner-column">
					<h4>Biography</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at mi sed lacus eleifend imperdiet congue non lorem. Suspendisse elementum odio mi, euismod sodales est venenatis et. Pellentesque accumsan mi in porta pharetra. Lorem ipsum dolor sit amet.</p>
					<h4>Educational background</h4>
					<ul class="list-style-one">
						<li>Certified Senior Professional in Human Resources (SPHR).</li>
						<li>Member of the Society for Human Resource Management (SHRM).</li>
						<li>Chesapeake Human Resources Association (CHRA).</li>
					</ul>
					<h4>Professional Skills</h4>
					<!-- Skills -->
					<div class="skills">

						<!-- Skill Item -->
						<div class="skill-item">
							<div class="skill-header clearfix">
								<div class="skill-title">Business Consulting</div>
								<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="94">0</span>%</div></div>
							</div>
							<div class="skill-bar">
								<div class="bar-inner"><div class="bar progress-line" data-width="94"></div></div>
							</div>
						</div>

						<!-- Skill Item -->
						<div class="skill-item">
							<div class="skill-header clearfix">
								<div class="skill-title">Market Analysis</div>
								<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="83">0</span>%</div></div>
							</div>
							<div class="skill-bar">
								<div class="bar-inner"><div class="bar progress-line" data-width="83"></div></div>
							</div>
						</div>

						<!-- Skill Item -->
						<div class="skill-item">
							<div class="skill-header clearfix">
								<div class="skill-title">Money Management</div>
								<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="92">0</span>%</div></div>
							</div>
							<div class="skill-bar">
								<div class="bar-inner"><div class="bar progress-line" data-width="92"></div></div>
							</div>
						</div>

						<!-- Skill Item -->
						<div class="skill-item">
							<div class="skill-header clearfix">
								<div class="skill-title">Business Growth</div>
								<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="97">0</span>%</div></div>
							</div>
							<div class="skill-bar">
								<div class="bar-inner"><div class="bar progress-line" data-width="97"></div></div>
							</div>
						</div>

					</div>
					<h4>Career & Experience</h4>
					<ul class="list-style-one">
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit Sed at mi sed lacus Donec tempus</li>
						<li>Eeleifend imperdiet congue non lorem. Suspendisse elementum odio mi euismod convallis tincid.</li>
						<li>Sodales est venenatis et. Pellentesque accumsan mi in porta pharetra unt. </li>
						<li>Ut vitae magna eros Ut a odio a urna sollicitudin eleifend nulla condimentum magna sit amet.</li>
						<li>Maecenas sit amet aliquam odio. Quisque felis lacus dictum a ligula non viverra ferment.</li>
					</ul>
					<h4>Award & Achivment</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at mi sed lacus eleifend imperdiet congue non lorem. Suspendisse elementum odio mi, euismod sodales est venenatis et. Pellentesque accumsan mi in porta pharetra. Duis sit amet mattis nisi, eget volutpat libero. </p>

					<!-- Fact Counter -->
					<div class="fact-counter style-two">
						<div class="row clearfix">

							<!-- Column -->
							<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-soccer-cup"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3500" data-stop="25">0</span>+
										</div>
										<div class="counter-title">Trophies</div>
									</div>
								</div>
							</div>

							<!--Column-->
							<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-checked"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="2500" data-stop="99">0</span>+
										</div>
										<div class="counter-title">Rewards</div>
									</div>
								</div>
							</div>

							<!--Column-->
							<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-bar-chart"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3000" data-stop="56">0</span>+
										</div>
										<div class="counter-title">Success Missions</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Team Detail Section -->
@await Html.PartialAsync("~/Views/Shared/_FooterLayout.cshtml")
