<section class="newsletter-section">
	<div class="auto-container">
		<div class="content-box">
			<div class="pattern-layer" style="background-image: url(images/background/pattern-5.png)"></div>
			<div class="box-inner">
				<div class="title">Get In Touch</div>
				<h2>Subscribe To Newsletter</h2>
				<div class="text">Be the first to subscribe to our newsletter and get latest news from Consult. E-mail: Phone: Address:</div>
				<!-- Emailed Form -->
				<div class="emailed-form">
					<form method="post" action="contact.html">
						<div class="form-group">
							<input type="email" name="email" value="" placeholder="Enter Your Email" required>
							<button type="submit" class="theme-btn">Subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Map Outer -->
		<div class="map-outer">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41953.167268317136!2d2.294481731631839!3d48.85884439985019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671d87733b39b%3A0x40b82c3688c9460!2sParis%2C%20France!5e0!3m2!1sen!2s!4v1692975106068!5m2!1sen!2s"
					width="600"
					height="450"
					style="border:0;"
					allowfullscreen=""
					loading="lazy"
					referrerpolicy="no-referrer-when-downgrade">
			</iframe>

		</div>
	</div>
</section>
<!-- End Newsletter Section -->
<!-- Main Footer -->
<footer class="main-footer" style="background-image: url(images/background/2.jpg)">
	<div class="pattern-layer" style="background-image: url(images/background/pattern-6.png)"></div>
	<div class="auto-container">
		<!--Widgets Section-->
		<div class="widgets-section">
			<div class="row clearfix">

				<!-- Footer Column -->
				<div class="footer-column col-lg-4 col-md-6 col-sm-12">
					<div class="footer-widget logo-widget">
						<div class="logo">
							<a href="index.html"><img src="images/logo.png" alt="" /></a>
						</div>
						<div class="text">Lorem ipsum dolor sit amet, consectetur adiis cing elit. Aliquam efficitur diam mauris, at varius eros feugiat vitae. Pellent esque commodo metus quis diam place rat, et ornare nibh dignissim.</div>
						<!-- Social Box -->
						<ul class="social-box">
							<li class="share">Find Us Now</li>
							<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
							<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
							<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
							<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
						</ul>
					</div>
				</div>

				<!-- Footer Column -->
				<div class="footer-column col-lg-3 col-md-6 col-sm-12">
					<div class="footer-widget links-widget">
						<h4>Useful Links</h4>
						<div class="row clearfix">
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-link">
									<li><a href="#">Blogs</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">About us</a></li>
									<li><a href="#">Gallery</a></li>
									<li><a href="#">Testimonials</a></li>
								</ul>
							</div>
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-link">
									<li><a href="#">Blogs</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">About us</a></li>
									<li><a href="#">Gallery</a></li>
									<li><a href="#">Testimonials</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- Footer Column -->
				<div class="footer-column col-lg-5 col-md-6 col-sm-12">
					<div class="footer-widget contact-widget">
						<h4>Contact Information</h4>
						<h6>Get In Touch</h6>
						<ul class="list-style-two">
							<li><span class="icon flaticon-map"></span>1403 Blackwell Street, AK 9976</li>
							<li><span class="icon flaticon-phone-call"></span><a href="tel:+00-123-456-789">+00 123 456 789</a></li>
							<li><span class="icon flaticon-big-envelope"></span><a href="mailto:info@example.com">info@example.com</a></li>
						</ul>
						<h6>Opening Hours</h6>
						<div class="timing">Mon - Sat 09:00am To 05:00pm Sunday: Off</div>
					</div>
				</div>

			</div>
		</div>

	</div>

	<!-- Footer Bottom -->
	<div class="footer-bottom">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Column -->
				<div class="column col-lg-6 col-md-12 col-sm-12">
					<div class="copyright">Copyright &copy; 2021, Designed with by talhanees</div>
				</div>
				<!-- Column -->
				<div class="column col-lg-6 col-md-12 col-sm-12">
					<ul class="footer-nav">
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Success Stories</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</footer>