<section class="newsletter-section">
	<div class="auto-container">
		<div class="content-box">
			<div class="pattern-layer" style="background-image: url(images/background/pattern-5.png)"></div>
			<div class="box-inner">
				<div class="title">Contactez Nous</div>
				<h2>Abonnez-vous à la Newsletter"</h2>
				<div class="text">Soyez le premier à vous abonner à notre newsletter et recevez les dernières actualités .</div>
				<!-- Emailed Form -->
				<div class="emailed-form">
					<form method="post" asp-action="Subscribe" asp-controller="Newsletter">
						<div class="form-group">
							<input type="email" name="email" value="" placeholder="Entrez Votre Email" required>
							<button type="submit" class="theme-btn">S'abonner</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Map Outer -->
		<div class="map-outer">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41953.167268317136!2d2.294481731631839!3d48.85884439985019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671d87733b39b%3A0x40b82c3688c9460!2sParis%2C%20France!5e0!3m2!1sen!2s!4v1692975106068!5m2!1sen!2s"
					width="600"
					height="450"
					style="border:0;"
					allowfullscreen=""
					loading="lazy"
					referrerpolicy="no-referrer-when-downgrade">
			</iframe>

		</div>
	</div>
</section>
<!-- End Newsletter Section -->
<!-- Main Footer -->
<footer class="main-footer" style="background-image: url(images/Website/2.jpg)">
	<div class="pattern-layer" style="background-image: url(images/background/pattern-6.png)"></div>
	<div class="auto-container">
		<!--Widgets Section-->
		<div class="widgets-section">
			<div class="row clearfix">

				<!-- Footer Column -->
				<div class="footer-column col-lg-4 col-md-6 col-sm-12">
					<div class="footer-widget logo-widget">
						<div class="logo">
							<a href="index.html"><img src="images/Website/LogoC.png" alt="" /></a>
						</div>
						<div class="text">Notre mission est d’aider nos clients à naviguer efficacement dans le paysage complexe et en constante évolution de la technologie de l’information.</div>
						<!-- Social Box -->
						<ul class="social-box">
							<li class="share">Trouvez-nous maintenant</li>
							<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
							<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
							<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
							<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
						</ul>
					</div>
				</div>

				<!-- Footer Column -->
				<div class="footer-column col-lg-3 col-md-6 col-sm-12">
					<div class="footer-widget links-widget">
						<h4>Liens Utiles</h4>
						<div class="row clearfix">
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-link">
									<li><a href="#">Acceuil</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Historique</a></li>
									<li><a href="#">A propos</a></li>
									<li><a href="#">Contactez nous</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- Footer Column -->
				<div class="footer-column col-lg-5 col-md-6 col-sm-12">
					<div class="footer-widget contact-widget">
						<h4>Informations</h4>
						<h6>Prenez contact</h6>
						<ul class="list-style-two">
							<li><span class="icon flaticon-map"></span>60 rue françois 1er 75008 paris</li>
							<li><span class="icon flaticon-phone-call"></span><a href="tel:+00-123-456-789">+00 123 456 789</a></li>
							<li><span class="icon flaticon-big-envelope"></span><a href="mailto:contact@capitalconseiltechnologie.fr">contact@capitalconseiltechnologie.fr</a></li>
						</ul>
						<h6>Horaires d'ouverture</h6>
						<div class="timing">Lun - Sam 09:00am à 05:00pm Dimanche: fermé</div>
					</div>
				</div>

			</div>
		</div>

	</div>

	<!-- Footer Bottom -->
	<div class="footer-bottom">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Column -->
				<div class="column col-lg-6 col-md-12 col-sm-12">
					<div class="copyright">Copyright &copy; 2024</div>
				</div>
				<!-- Column -->
			</div>
		</div>
	</div>

</footer>